ion-fab-button{
    width: 70px;
    height: 70px;
}

ion-item{
    font-size: 13px;
}

.title{
    font-weight: bold;
}

ion-chip{
    font-size: 9px;
}

.in-progress{
    color: var(--ion-color-danger);
}