ion-card{
    border-radius: 20px;
    min-height: 330px;
    
}

.select-method{
    font-size: 13px;
    --border-radius: 10px;
    --border-width: 1px;
    --border-color: rgb(218, 218, 218);
    color: gray;
    
}
