ion-card{
  width: 100%;
  height: 270px;
  border-radius: 15px;
}

h5{
  color: var(--ion-color-secondary);;
}
.btn-container{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 55%;
    top: 95%;
}

h5{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 55%;
  top: 75%;
}

.btn-add{
    width: 45px;
    height: 45px;
    --background: var(--ion-color-primary);
    --border-radius: 100%;
}

.square{
    width: 100%;
    height: 110px;
    background: transparent;
    overflow: hidden;
    
    
  }
  
  .square img{
    width: 100%;
    height: auto;
    
  }
  @supports(object-fit: cover){
      .square img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }