ion-input{
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    border-radius: 10px;
    border-style: solid;
    font-size: 13px;
    height: 40px;
    color: gray;
}

ion-label{
    font-size: 13px;
    padding-left: 5px;
}

ion-select{
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    border-radius: 10px;
    border-style: solid;
    font-size: 13px;
    height: 40px;
    color: gray;
}

.filter-label{
    font-size: 13px;
    color: var(--ion-color-primary);
}