.spinner{
    padding-top: 50%;
}

.ion-toolbarr{
    height: 60px;
    background: var(--ion-color-primary);
  }
  
   .inverted-border-radius {
      position: relative;
      height: 110px;
      width: 100%;
      background-color: var(--ion-color-primary);
      border-radius: 0px 0px 25px 0;
    }
    
    .inverted-border-radius::before {
      content: "";
      position: absolute;
      
      background-color: transparent;
      bottom: -50px;
      height: 50px;
      width: 25px;
      border-top-left-radius: 25px;
      box-shadow: 0 -25px 0 0 var(--ion-color-primary);
    }
  
  .header-content{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 110px;  
    font-size: 25px;
    color: white;
  }
  
  .title-app{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 35px;  
    font-size: 29px;
    color: white;
    text-align: center
  
  }
  
  
    .header-content img{   
      width: 80px;
      height: auto;   
    }
  
  
    .header-content ion-text{   
      font-size: 18px;   
    }

    @media screen and (min-width:481px) {
      form{
        width: 400px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;       
        border-radius: 20px;
        
      }
    } 
    