ion-card{
    width: 140px;
    height: 270px;
    border-radius: 15px;
  }
  

  .btn-container{
      position: absolute;
      transform: translate(-50%,-50%);
      left: 85px;
      top: 95%;
  }
  
  .price{
    color: var(--ion-color-secondary);
    position: absolute;
    transform: translate(-50%,-50%);
    left: 90px;
    top: 80%;   
  }
  
  .btn-add{
      width: 45px;
      height: 45px;
      --background: var(--ion-color-primary);
      --border-radius: 100%;
  }
  
  .square{
      width: 100%;
      height: 135px;
      background: transparent;
      overflow: hidden;      
    }
    
    .square img{
      width: 100%;
      height: auto;
      
    }
    @supports(object-fit: cover){
        .square img{
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }

  @media screen and (min-width:415px) and (max-width:445px) {
    ion-card{
      width: 160px;
      height: 270px;
      border-radius: 15px;
    }

    .btn-container{
      position: absolute;
      transform: translate(-50%,-50%);
      left: 90px;
      top: 95%;
  }

  .price{
    color: var(--ion-color-secondary);
    position: absolute;
    transform: translate(-50%,-50%);
    left: 100px;
    top: 80%;   
  }
  } 
  
  @media screen and (min-width:445px) and (max-width:479px) {
    ion-card{
      width: 180px;
      height: 270px;
      border-radius: 15px;
    }

    .btn-container{
      position: absolute;
      transform: translate(-50%,-50%);
      left: 100px;
      top: 95%;
  }

  .price{
    color: var(--ion-color-secondary);
    position: absolute;
    transform: translate(-50%,-50%);
    left: 110px;
    top: 80%;   
  }
  } 

  @media screen and (min-width:479px) and (max-width:519px) {
    ion-card{
      width: 200px;
      height: 270px;
      border-radius: 15px;
    }

    .btn-container{
      position: absolute;
      transform: translate(-50%,-50%);
      left: 120px;
      top: 95%;
  }

  .price{
    color: var(--ion-color-secondary);
    position: absolute;
    transform: translate(-50%,-50%);
    left: 120px;
    top: 80%;   
  }
  } 