li{
    text-align: justify;  
    padding: 5px 5px 5px 5px;  
    font-size: 14px;
}

ul{
    padding: 10px 20px 0px 20px;
}


ion-item{
    border-width: 1px;
    border-color: rgb(218, 218, 218);
    border-style: solid;
    font-size: 13px;
    border-radius: 10px;
    color: gray;
}

.color-assigned{
    color: var(--ion-color-primary);
}