ion-item{
    font-weight: bold;
    color: var(--ion-color-primary);
}

.container-components{
    padding-top: 20px;
    padding-bottom: 60px;
}

.total{
    font-weight: bold;
    color: var(--ion-color-primary);
}