ion-avatar{
    width: 130px; 
    height: 130px;
    margin: 0 auto;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(231, 231, 231);
}

ion-card{
    padding: 15px;
}

.container-p{
   padding: 15px 15px 15px 15px;
}

.dates{
    color: var(--ion-color-primary);
    font-size: 13px;
}

.user-value{
    font-size: 14px;
    color: var(--ion-color-primary);
    text-transform: capitalize;
}

.email{
    font-size: 14px;
    color: var(--ion-color-primary); 
}

.user-label{
    font-size: 12px;
    color: gray;
}

.inProgress{
    color: var(--ion-color-success);    
}

