.ion-toolbarr{
    height: 60px;
    background: var(--ion-color-primary);
  }
  
   .inverted-border-radius {
      position: relative;
      height: 15px;
      width: 100%;
      background-color: var(--ion-color-primary);
      border-radius: 0px 0px 25px 0;
    }
    
    .inverted-border-radius::before {
      content: "";
      position: absolute;
      
      background-color: transparent;
      bottom: -50px;
      height: 50px;
      width: 25px;
      border-top-left-radius: 25px;
      box-shadow: 0 -25px 0 0 var(--ion-color-primary);
    }
  

  
  
  
